<!DOCTYPE html>
<html>

<head>

    <title>GridGame | Sandbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        width: 100%;
        height: 100%;
      }
    </style>

<link href="https://cdn.jsdelivr.net/picnicss/6.1.4/picnic.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<div class="flex five">
    <div class="fifth">
        <h1>GridGame</h1>
        <br/><br/><br/><br/><br/>
        <br/><br/><br/><br/><br/>
        <br/><br/><br/><br/><br/>
        <br/><br/><br/><br/><br/>
        <br/><br/><br/><br/><br/>
    </div>
    <div class="fifth">
        <h2>check-in time!</h2>
    </div>
    <div class="three-fifth">
      <a href="#" id="checkin_link"><button>check me in</button></a>
    </div>
</div>

            

    <script>
      $(document).ready(function() {
      function getLocation() {
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition);
          } else {
              alert('this did not work');
          }
      }

      function showPosition(position) {
        $('#checkin_link').attr('href', 'checkin/' + position.coords.latitude + '&' + position.coords.longitude);
      }

      getLocation();
      });


    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ config.game_settings.GOOGLE_MAPS_API_KEY }}&callback=initMap"
    async defer></script>

</body>

</html>
